<body>
  <h1>Google Calendar Events (Entries)</h1>
  <hr>
  <% @events.items.each do |event| %>
    <div class="event">
      <h3>Summary: <%= event.summary %></h3>
      <p>Start time: <%= event.start.date_time %></p>
      <p>End time: <%= event.end.date_time%></p>
      <p>Description: <%= event.description %></p>
    </div>
    <hr>
  <% end %>
  <%= link_to 'Create New Entry', new_user_entry_path(User.first), class: 'create-button' %>
  <link rel="stylesheet" type="text/css" href="entries.css">
</body>
